.main-box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.product-card {
    border: 5px inset silver;
    width: 20%;
    margin-right: 5px;
}
.product-title {
    text-align: center;
    font-style: italic;
}
.product-image {
    width: 100%;
    height: 80%;
}
